.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 0 auto
}

.details-container img {
    width: 150px;
    margin-bottom: 20px;
}

.details-section {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin: 5px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-section h2 {
    color: #555;
}

.details-section p {
    color: #666;
}